body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #53615e;
  background-image: url(/background.png);
}

#details-con>div:nth-child(2) {
  margin-top: 0;
}